*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(104, 94, 118);
}
h2{
    text-align: center;
    padding-top: 30px;
}
#container{
    /* background-color: aqua; */
    padding:30px;
}
.bloc{
    margin-top:20px;
    margin-right:35px ;
    margin-left: 35px;
    padding: 10px;
    border: 2px solid rgb(165, 142, 142);
    border-radius: 20px;
    background: linear-gradient(90deg, gray 30%, white 70%);
    width: 95%;
}
.bloc{
    transition: 0.4s;
}
.bloc:hover{
    transform: scale(1.05);
}
