        section{
            margin-left: 10px;
        }
        body{
        background: linear-gradient(15deg,beige 3%, brown 97%);
        }
        h2,h4{
            text-shadow: 6px 8px 10px rgba(88, 84, 84, 0.5);
            text-align: center;
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 30px; 
        }
        .sec1{
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 100px;
            margin-left: 100px;margin-right: 100px;
            margin-top: 30px;
            margin-bottom: 15px;
            background-color: rgb(255, 238, 215);
            padding: 20px;
            border-radius: 30px;
            border-left: 2px solid gray;border-top: 2px solid gray;
            box-shadow: 6px 8px 10px rgba(88, 84, 84, 0.4 );
            position: relative;
        }
        .sec1,.sec2{
            transition: 0.5s;
        }
        .sec1:hover{
            transform: scale(1.05);
        }
        .pict_perso{
            border-radius: 80px;
            box-shadow: none;

        }
        .sec1_case1{
            padding-top: 15px;  
            padding-right: 15px; 
            margin-left: 20px;      
        }
        .sec1_case2{
            padding-top: 30px;
        }
        .sec2{
        margin-left: 100px;margin-right: 100px;
        margin-bottom: 30px;
        margin-top: 15px;
        background-color: rgb(255, 233, 206);
        padding: 20px;
        border-radius: 30px;
        border-left: 2px solid gray;border-top: 2px solid gray;
        padding: 30px 30px;
        box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.4);
        }
        .sec2:hover{
            transform: scale(1.05);
        }

        img{
            width: 200px;
        }
        button{
            background-color:white;
            opacity: 0.5;
            padding: 10px;
            border-radius: 10px;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            border: 0px solid transparent;
            box-shadow: 1px 1px 1px 2px rgb(97, 95, 95);
        }
        .btn{
            text-align: center;
        }
        #txt{
            display: block;
            text-align: center;
            font-style: oblique;
            margin-top: 20px;
        }

       @media screen and (max-width:966px) {
       .sec1,.sec2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        margin: 20px 20px;
        background-color: none;
       }
       img{
        width: 200px;
       }
       .sec1_case2,.sec2_case1{
        padding-left: 20px;
        padding-right: 20px;
       }
       }
